.about-heading {
  font-weight: bold;
}
.about .content {
  background-color: inherit;
}
.about h3 {
  font-size: 20px;
  font-weight: 700;
  color: #ff0000;
}
.about p {
  color: #000000;
  line-height: 24px;
  opacity: 1;
  font-weight: normal;
  font-size: 20px;
}